<!DOCTYPE html>
<html lang="zh_CN" xmlns:th="http://www.thymeleaf.org"
      xmlns:shiro="http://www.pollix.at/thymeleaf/shiro">
<head>
	<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
</head>
<body>
	<div class="errorInfo"><span th:text="${error}"></span></div>
		<form action="login" method="post">
		    账号： <input type="text" name="name"> <br>
		    密码： <input type="password" name="password"> <br>
		    <br>
		    <input type="submit" value="登录">
		    <br>
		    <br>
		<div>
			<span class="desc">账号:zhang3 密码:12345 角色:admin</span><br>
			<span class="desc">账号:li4 密码:abcde 角色:productManager</span><br>
		</div>
		    
		    
		</form>
	</div>
</body>
</html>